@charset "UTF-8";

@font-face {
    font-family: 'IDROID';
    src: url('cubic.ttf');
}

@font-face {
    font-family: Coco;
    src: url(fontes/Cocogoose\ Pro\ Light-trial.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@500&family=Oswald:wght@200;300&family=Raleway:wght@100&display=swap');

/*
#c5ebd6
#83elad
#3ddc84
#2fa866
#1a5c37
#063d1e 
*/

:root{
    --cor0: #c5ebd6;
    --cor1: #83bda1;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --letras: 'IDROID';
    --fonte-padrão: Coco;
    --fonte-destaque: 'IDROID'
    
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
}

header{
    background-image: linear-gradient(to bottom, #2fa866, #1a5c37, #063d1e);
    margin: auto;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

header > h1{
    color: white;
    font-family: var(--letras);
    text-align: center;
    text-shadow: 5px 5px 0px var(--cor5);
    padding-bottom: 20px;
    padding-top: 10px;
}

@media (max-width:590px){
    header > h1{
        color: white;
        font-family: var(--letras);
        font-size: 25px;
        text-align: center;
        text-shadow: 5px 5px 0px var(--cor5);
        padding-bottom: 20px;
        padding-top: 10px;
    }

    header > p{
        color: white;
        text-align: center;
        text-shadow: 2px 2px 0px black;
        font-family: var(--fonte-padrão);
        padding-bottom: 20px;
    }

    nav{
        word-spacing: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 33zpx;
        width: 100%;
    }
}

header > p{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0px black;
    font-family: var(--fonte-padrão);
    padding-bottom: 20px;
}

nav{
    word-spacing: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 22px;
    width: 100%;
}

nav > a{
    color: #ffffff;
    text-decoration: none;
}

nav > a:hover{
    transition: .5s;
    background: #83bda1;
    border-radius: 4px;
    padding: 3px;
}

main{
    background-color: white;
    min-width: 320px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color: var(--cor5);
    font-family: var(--letras);
}

main h2{
    font-family: var(--letras);
    background-image: linear-gradient(to right, #83bda1, white 50%);
    padding-left: 5px;
    font-weight: normal;
}

main a{
    color: #1a5c37;
    text-decoration: none;
    font-weight: bold;
}

footer{
    background-color: var(--cor5);
    color: white;
}

p{
    font-family: var(--fonte-padrão);
    word-spacing: 3px;
}

article h3{
    font-family: var(--letras);
}

img{
    width: 100%;
    margin: auto;
}

main img.pequena{
    width: 50%;
    display: block;
}

footer{
    width: 100%;
    margin: 0px;
    padding: 0%;
    text-align: center;
}

a{
    color:#ffffff;
    font-weight: bold;
    font-family: var(--fonte-padrão);
    text-decoration: none;
}

footer a:hover{  
    transition: 0.5s;
    color: var(--cor3);
    text-decoration: underline;
}


iframe{
    width: 100%;
}

aside{
    background-color: var(--cor2);
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.562);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid var(--cor5);
}

aside > ul{
    list-style-position: inside;
    list-style-type: '\2714';
    columns: 2;
    padding: 10px;
}

aside h3{
    background-color: var(--cor5);
    padding: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
}